/* Кольори:
  фон — #1565C0
*/

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #F5F5F5;
}
.container {
    background-color: #1565c0;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}