*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #F5F5F5;
}

.menu {
  /* задай gap */
  width: 500px;
  height: 500px;
  gap: 8px;
  display: flex;
  padding: 8px;
  margin: 0;
  list-style: none;
  background-color: #0D47A1;
justify-content: space-between;/* центрувати в середині Flex*/
align-items: stretch;/* Розтезування вздовж поперечної осв*/
}


.menu .link {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 4px;
}

.menu .link:hover {
  background-color: #1565C0;
}