body {
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  width: 300px;
  background-color: #FFF8E1;
  border: 1px solid #F57F17;
  border-radius: 8px;
  overflow: hidden;
}

.image-wrapper {
height: 200px;

}

.image-wrapper img {
width: 100%;
height: 100%;
object-fit: cover;
}