/*
Кольори:
основний текст  → #212121
мета-інформація → #757575
посилання       → #1565c0
*/
body {
  font-family: "Inter", sans-serif;
  color: #212121;
  line-height: 1.5;
}
h1,
h2 {
  font-family: "Playfair Display" sans-serif;
}
.post-title {
  font-size: 40px;
}
.post-meta {
  font-family: 14px;
  color: #757575;
  font-style: italic;
}
.post-text {
  font-size: 18px;
  line-height: 1.8;
}
.post-link {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: 1565c0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
