*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #F5F5F5;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  /* задай min-height, display, flex-direction */
}

.header {
  padding: 16px;
  background-color: #0D47A1;
  color: #FFFFFF;
}

.main {
    flex-grow: 1;
  /* задай flex-grow */
  padding: 16px;
}

.footer {
  padding: 16px;
  background-color: #0D47A1;
  color: #FFFFFF;
}