*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #F5F5F5;
}

.layout {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.sidebar {
  width: 200px;
  padding: 16px;
  background-color: #E3F2FD;
  border: 1px solid #1E88E5;
  border-radius: 4px;
}

.content {
    flex-grow: 1;
  /* задай flex-grow */
  padding: 16px;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}